 .body {

   background-color: #6e5bc3;
   font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .avatar {
   border: 5px solid #6e5bc3;
   margin: auto;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   margin-bottom: 30px;
 }

 .main-container {
   position: inherit;
   background-color: white;
   width: 50%;
   height: 400px;
   padding: 20px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0px;
   border-radius: 25px;
   min-width: 250px;
   max-width: 500px;
 }

 .label {
   font-size: 22px;
   margin-right: 8px;
 }



 .input {
   padding: auto;
   margin: auto;
   border-radius: 20px;
   /* background-color: rgb(235, 230, 230); */
 }

 .input::after {
   content: none;
 }

 .input::before {
   content: none;
 }

 .loginbutton {
   width: 140px;
   height: 40px;
   padding: 15px;
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 12px;
   font-size: 20px;
   background-color: #27E1C1;
   color: white;
   text-align: center;
   border-radius: 20px;
 }

 .loginbutton:hover {

   background-color: #71057b;
   cursor: pointer;
 }