<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a New Student</title>
  <link type="stylesheet" href="/static/css/addstudent.css">
</head>
<body>

<br>

<form   method = "POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name() }}
    <br>
    {{ form.USN.label }}
    {{ form.USN }}

    <br>

    {{ form.branch.label }}
    {{ form.branch }}
    <br>
    {{ form.semester.label }}
    {{ form.semester }}
    <br>

    {{ form.division.label }}
    {{ form.division }}

    <br>
   {{form.DOB.label }}
    {{ form.DOB }}
<br>
    {{  form.email.label }}
    {{ form.email }}
<br>
    {{ form.mobile.label }}
    {{ form.mobile }}
<br>

    <br>
    <input type="file" name="file" />




    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>