<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a New Student text</title>

    <link rel="stylesheet" href="{{  url_for('static', filename='/css/addstudent.css') }}">
</head>
<body>

<br> 


<div class="center">

<form  action="/addstudent" method = "POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name() }}
    <br>
    {{ form.USN.label }}
    {{ form.USN() }}

    <br>

    {{ form.branch.label }}
    {{ form.branch() }}
    <br>
    {{ form.semester.label }}
    {{ form.semester() }}
    <br>

    {{ form.division.label }}
    {{ form.division() }}

    <br>
    <label for="dob">Date Of Birth</label>
    <input type ="date" name ="dob">
<br>
    {{  form.email.label }}
    {{ form.email() }}
<br>
    {{ form.mobile.label }}
    {{ form.mobile() }}
<br>

    <br>
    <input  class="choosefile" type="file" name="file" />




    <br>
    <button class="button" type="submit">Submit</button>
</form>

</div>
</body>
</html>