<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&display=swap" rel="stylesheet">
    <title>Welcome | Admin</title>
    <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body>
    <div class="welcome-text"><h1>Welcome Admin</h1></div>
    
    <div class="tasks-container">
        <div class="task">
            <div class="icon">
                <img src="../static/images/class-icon.png" height="80px" width="80px">
            </div>
            <div class="content">
                <div class="task-title">
                    <h3>Class Information</h3>
                </div>
                <div class="task-description">
                    <h5>View Class Information</h5>
                </div>
            </div>
            <a href="" class="button">Access</a>
        </div>
        <div class="task">
            <div class="icon">
                <img src="../static/images/add-teacher-logo.png" height="80px" width="80px">
            </div>
            <div class="content">
                <div class="task-title">
                    <h3>Add a new Teacher</h3>
                </div>
                <div class="task-description">
                    <h5>Add new teacher to the system</h5>
                </div>
            </div>
            <a href="" class="button">Add</a>
        </div>
        <div class="task">
            <div class="icon">
                <img src="../static/images/add-student-logo.png" height="80px" width="80px">
            </div>
            <div class="content">
                <div class="task-title">
                    <h3>Add a new Student</h3>
                </div>
                <div class="task-description">
                    <h5>Add new Student to the system</h5>
                </div>
            </div>
            <a href="" class="button">Add</a>
        </div>
    </div>
</body>
</html>