<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Welcome!</h1>
    <h2>Please Login to continue....</h2>
    <h2>Tell us who you are: </h2>
    <button class="button" ><a href="/studentlogin">Student</a></button>
    <button class="button"><a href="/teacherlogin">Teacher</a></button>
</body>
</html>