<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="/static/css/student_login.css">
</head>

<body>

  <!--<div class="main-container">
    <center>
      <form action="/studentlogin" method="POST">
      
        <img src="/static/images/img_avatar2.png" alt="Avatar" class="avatar">
        
          
        <div class="fields-container">
    
          <div class="field">
            <label for="uname"><b>USN</b></label>
            <input class="username-tf" type="text" placeholder="Username" name="usn"  value = " {{ request.form.usn }}" required>
          </div>
          <div class="field">
            <label for="psw"><b>Password</b></label>
            <input type="date" placeholder="Password" name="passw"  value = "{{ request.form.passw }}" required>
          </div>
          <Button type="submit" class="login-button">Login</button>
        </div>
      </form>
    </center>
  </div> -->
  <!--<div class="left-content">
    <h1>Welcome!</h1>
    <h2>Let's Make The Attendance System Smart</h2>
    <h2>To Continue to our Website</h2>
    <h2>Login for Attendance Details</h2>
  </div>


  <div class="login-select-container">
    <h2 class="label">You are...</h2>
    <div class="buttons_grouped">
      <button href="/studentlogin" class="button active-button">Student</button>
      <button href="/teacherlogin" class="button">Teacher</button>
      <button href="/teacherlogin" class="button">Admin</button>
    </div>
    <center>
      <div class="login-form active">
          
      </div>
    </center>
</div>-->
</body>
</html>