<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="/static/css/student_login.css">
</head>

<body>

    <form action="/studentlogin" method="POST">
        <div class="imgcontainer">
          <img src="/static/images/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">

          <label for="uname"><b>USN</b></label>
          <input type="text" placeholder="Enter Username" name="usn"  value = " {{ request.form.usn }}" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="passw"  value = "{{ request.form.passw }}" required>

          <button style="margin-top:25px ;" type="submit">Login</button>

        </div>
    
      </form>
</body>
</html>