<!DOCTYPE html>

{% set counter = {
    'counter1': 0,
    'counter2': 0,
    } %}

{% macro increment(dct, key, inc=1)%}
    {% if dct.update({key: dct[key] + inc}) %} {% endif %}
{% endmacro %}

{% macro reset(dct, key)%}
    {% if dct.update({key: 0})%}{% endif %}
{% endmacro%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/teacher.css') }}">
    <title>Welcome</title>
</head>

<body>

    <div class="text-display">
        <h1>Welcome, </h1>
        <h1>{{ Data.Name }}</h1>
    </div>



    {% for class in Data.Classes %}
            <button class="tablink" onclick="openTab(event,'{{ class.Name }}')">{{class.Name}}</button>
    {%endfor%}

    {% for class in Data.Classes %}

    <div id="{{ class.Name }}" class="tabcontent"  {% if not loop.first %} style="display:none" {% endif %}>
        {% for subject in class.Attendance %}
        <h4 align="center"> Number of Classes conducted for {{ subject.Course }}: {{ subject.Classes_conducted|length }}</h4>
        <div class="table-wrapper">
        <table class = "fl-table">
            <thead>
            <tr>
                <th id="fixed_info">    USN    </th>
                <th>    Name     </th>
                {% for date in subject.Classes_conducted %}
                {{ increment(counter, 'counter1') }}
                <th> {{ date }} </th>
                {% endfor %}
                <th> Number of Classes Attended </th>
                <th> Percentage</th>
            </tr>
            </thead>
            {% for stud in subject.StudentsAttendance %}
            <tbody>
            <tr>
                {{ reset(counter, 'counter2')}}
                <td>{{ stud.get("USN")|upper }}</td>
                <td>{{ stud.get("Name")|upper }}</td>
                {% for att in stud.get("Attendance") %}
                {% if att == 1 %}
                {{ increment(counter, 'counter2') }}
                <td id="cell"> <img src="/static/images/tick.png" alt=""  height= "24px" width="24px" > </td>
                {% else %}
                <td > <img src="/static/images/cross.png" alt=""  height= "24px" width="24px" > </td>
                {% endif %}
                {% endfor %}
                {% set percent = counter.counter2/counter.counter1 * 100 %}
                <td> {{ counter.counter2 }}</td>
                <td>{{ percent|round(2,'common') }}%</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</body>

<script>

    function openTab(evt, tab) {
  var i, x, tablinks;

  x = document.getElementsByClassName("tabcontent");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }

  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(tab).style.display = "block";

}

</script>>



</html>