<!DOCTYPE html>

{% set counter = {
    'counter1': 0,
    'counter2': 0,
    } %}

{% macro increment(dct, key, inc=1)%}
    {% if dct.update({key: dct[key] + inc}) %} {% endif %}
{% endmacro %}

{% macro reset(dct, key)%}
    {% if dct.update({key: 0})%}{% endif %}
{% endmacro%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/teacher.css') }}">
    <title>Welcome</title>
</head>

<body>

    <div class="text-display">
        <h1>Welcome, Dr. </h1>
        <h1>{{ name }}</h1>
    </div>
    <div class="main-container">
        <h2 class="title">Attendance in {{ subject }} 5-A</h2>
        <h4 align="center"> Number of Classes conducted: {{ classes|length }}</h4>
        <div class="table-wrapper">
        <table class = "fl-table">
            <thead>
            <tr>
                <th id="fixed_info">    USN    </th>
                <th>    Name     </th>
                {% for date in classes %}
                {{ increment(counter, 'counter1') }}
                <th> {{ date }} </th>
                {% endfor %}
                <th> Number of Classes Attended </th>
                <th> Percentage</th>
            </tr>
            </thead>
            {% for stud in student %}
            <tbody>
            <tr>
                {{ reset(counter, 'counter2')}}
                <td>{{ stud.get("USN")|upper }}</td>
                <td>{{ stud.get("Name")|upper }}</td>
                {% for att in stud.get(subject + "_attendance") %}
                {% if att == 1 %}
                {{ increment(counter, 'counter2') }}
                <td id="cell"> <img src="/static/images/tick.png" alt=""  height= "20%" width="30%" > </td>
                {% else %}
                <td > <img src="/static/images/cross.png" alt=""  height= "30%" width="30%" > </td>
                {% endif %}
                {% endfor %}
                {% set percent = counter.counter2/counter.counter1 * 100 %}
                <td> {{ counter.counter2 }}</td>
                <td>{{ percent|round(2,'common') }}%</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
            </div>
    </div>
</body>

</html>