<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/teacher.css') }}">
    <title>Welcome</title>
</head>

<body>
{%set total = 0%}
{%set presentCount=0   %}
    <div class="text-display">
        <h1>Welcome</h1>
        <h1>{{ name }}</h1>
    </div>
    <div class="main-container">
        <h2 class="title">Attendance in {{ subject }}</h2>
        <table>
            <tr>
                <th>    Name    </th>
                <th>    USN     </th>
                {% for date in classes %}
                {% set total = classes|length %}
                <th> {{ date }} </th>
                {% endfor %}
                <th> Percentage</th>
            </tr>
            {% for stud in student %}
            <tr>
                <td>{{ stud.get("Name") }}</td>
                <td>{{ stud.get("USN") }}</td>
                {% for att in stud.get(subject + "_attendance") %}
                {% if att == 1 %}
                {% set presentCount = presentCount+1 %}
                <td> Present </td>
                {% else %}
                <td> Absent </td>
                {% endif %}
                {% endfor %}
                {% set percent  = presentCount* 100%}
                <td> </td>

            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>